{:site-title         "C Warren Dale"
 :author             "C Warren Dale"
 :description        "The personal blog of an opinionated and artistically-inclined technologist"
 :site-url           "http://cwarrendale.com/"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      "posts-output"
 :page-root-uri      "pages-output"
 :tag-root-uri       "tags-output"
 :author-root-uri    "authors-ouput"
 :blog-prefix        ""
 :rss-name           "feed.xml"
 :rss-filters        ["programming"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 :theme              "tufte"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            true
 :disqus-shortname   "cwarrendale"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 4
 :previews?          true}
